:root {
  --color-1: #111d5e;
  --color-2: #c70039;
}

.toggleMenu {
  background-color: #275698;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  padding: 0;
  transform: translate(100%, 0px);
}
.toggleMenu ul.menu li{
  list-style: none;
  color: #000;
  font-size: 1em;
}
.toggleMenu ul.menu{
  letter-spacing: 2px;
  margin:0px;
  list-style: none;
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  padding: 0;
}
.toggleMenu a {
  padding: 1em;
  color: #fff;
  text-decoration: none;
  border: 3px solid transparent;
  transition: all .1s;
  display: flex;
  flex: 1 1 auto;
}
.toggleMenu a:hover, .toggleMenu a:active {
  opacity: 1;
  border-bottom: 3px solid #ff2e63;
  transition: all 0.5s;
}
.toggleMenu a::hover, .toggleMenu a::active {
  opacity: 1;
  border-bottom: 3px solid #ff2e63;
  border-top: 3px solid #ff2e63;
  transition: all 0.5s;
} 
.toggleMenu .search{
	margin: auto 1%;
	padding: 1%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.toggleMenu .search input[type="search"] {
	border: none;
    outline: none;
    max-width: 100px;
    margin-right: 2%;
    padding: 2.5%;
}
.toggleMenu .search button{
	background: none;
	outline: none;
	font-weight: bold;
	padding: 2.5%;
	border: none;
}
.toggleMenu .search button:hover{
	cursor: pointer;
}
.toggleMenu.active{
  opacity: 1;
  visibility: visible;
  transform: translate(0px,0px);
}
.wrapper{
	flex: 1 1 auto;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	overflow: hidden;
	position: relative;
}
aside{
	flex: 1;
	background-color: #ECF0F1;
	margin: 1%;
	padding: 0.1% 0.5%;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}
aside .title p{
	margin: 3%;
	font-size: 1.3em; 
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid var(--color-1);
}
aside .cars{
	display: flex;
	flex-direction: column;	
}
aside .cars a{
	color: #000;
	text-decoration: none;
	margin-left:3%;
	border-bottom: 2px solid transparent;
	transition: margin-left 1s;
}
aside .cars a:hover, .menu .parts a:active{
	color: #f00;
	text-decoration: none;
	margin-left:10%;
	border-bottom: 2px solid var(--color-1);
}
aside .cars a::hover, .menu .parts a::active{
	color: #f00;
	text-decoration: none;
	margin-left:10%;
	border-bottom: 2px solid var(--color-1);
}
.description{
	display: flex;
	flex-direction: column;
}
.part{
	flex: 0 0 auto;
	display: flex;
}
.name_part{
	color: #f00;
	flex: 0 0 150px;
}
.desc_part{
    flex: 0 1 150px;
    margin-left: 1%; 
}
.menu .parts{
	display: flex;
	flex-direction: column;
	color: #000;
}
.menu .parts a{
	color: #000;
	text-decoration: none;
	margin-left:3%;
	border-bottom: 2px solid transparent;
	transition: margin-left 1s;
}
.menu .parts a:hover, .menu .parts a:active{
	color: #f00;
	text-decoration: none;
	margin-left:10%;
	border-bottom: 2px solid var(--color-1);
}
.menu .parts a::hover, .menu .parts a::active{
	color: #f00;
	text-decoration: none;
	margin-left:10%;
	border-bottom: 2px solid var(--color-1);
}
main{
	flex: 4;
}
main .car{
	padding: 0.1% 1%;
	margin: 1%;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}
.car-img{
	width: 100%;
	border-radius: 10px;
	margin: 1% auto;
}
.car .title{
	font-weight:bold;
	border-bottom: 2px solid var(--color-1);
}
.car .description{
	font-size: 1.2em;
	border-bottom: 2px solid var(--color-1);
}
.car .buttons {
	display: flex;
	justify-content: space-around;
	margin-top: 1%;
}
.car .buttons button{
	border: none;
	border-radius: 10px;
	outline: none;
	background-color: var(--color-2);
	padding: 1em;
	color: #fff;
	font-weight: bold;
}
.car .buttons button a{
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
}
.car .buttons button{
	text-decoration: none;
	padding: .5em;
	border: 2px solid transparent;
	transition: all 0.5s;
}
.car .buttons button:hover, .car .buttons button:active{
	border: 2px solid var(--color-1);
}
.car .buttons button::hover, .car .buttons button::active{
	border: 2px solid var(--color-1);
}



@media (max-width: 768px) {
	aside{
		display: none;
	}
}